body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.wrapper {
  position: relative;
}

.squares {
  margin-left:34px;
  margin-top:34px;
  margin-right:34px;
}

.stones {
  position: absolute;
  top: -17px;
  left: 17px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.stone-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.stone {
  background: None;
  border: None;
  float: left;
  height: 36px;
  margin-right: -1px;
  margin-bottom: -1px;
  width: 36px;
  border-radius: 50%;
}

.stone:focus {
  outline: none;
}

.square {
  background: #FFFFE0;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
